.error {
    color: #ff0000;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid r#ff0000;
    padding: 8px;
    margin: 16px;
}

.alert {
    line-height: 10px;
    height: 10px;
    padding: 10px 10px;
}