<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--HEADER-->
<head th:fragment="headFragment">
    <title th:include=":: #pageTitle">Layout Generic Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>

</head>

<body>

<!--NAVIGATION-->
<nav class="navbar navbar-default" th:fragment="navigationFragment">
    <div class="navbar-inner">
        <a class="navbar-brand" href="/home.html">Home</a>
        <ul class="nav navbar-nav">
            <li><a href="/items.html">Index</a></li>
            <li><a href="/items/equipment.html">Equipment</a></li>
            <li><a href="/items/resources.html">Resources</a></li>
            <li><a href="/login.html">Login/Register</a></li>
        </ul>
    </div>
</nav>

<!--FOOTER-->
<footer class="footer" th:fragment="footerFragment">
    <script type="text/javascript" src="/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/dynamicForm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</footer>

<!--USER LOGIN-->
<form action="#" th:action="@{/login}" th:object="${user}" method="post" th:fragment="loginFragment">
    <table class="table">
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>Remember me:</td>
            <td><input type="checkbox" th:field="*{rememberLogin}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" class="btn btn-primary"/></td>
        </tr>
    </table>
</form>

<!--USER REGISTRATION-->
<form action="#" th:action="@{/users/new}" th:object="${user}" method="post" th:fragment="registerFragment">
    <table class="table">
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>Confirm password:</td>
            <td><input type="password" th:field="*{passwordConfirm}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Register" class="btn btn-primary"/></td>
        </tr>
    </table>
</form>

<!--EQUIPMENT FORM-->
<form action="#" th:action="@{/items/equipment/new}" th:object="${equipment}" method="post" th:fragment="equipmentFormFragment">
    <h2>New equipment</h2>
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-2"></th>
            <th class="col-md-10"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" th:field="*{name}" th:errorclass="bg-danger"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                      class="alert alert-danger">Name error</span>
            </td>
        </tr>
        <tr>
            <td>Unique identifier:</td>
            <td>
                <input type="text" th:field="*{code}" th:errorclass="bg-danger"/>
                <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
                      class="alert alert-danger">code error</span>
            </td>
        </tr>
        <tr>
            <td>Slot:</td>
            <td>
                <input type="number" th:field="*{slot}" th:errorclass="bg-danger"/>
                <span th:if="${#fields.hasErrors('slot')}" th:errors="*{slot}"
                      class="alert alert-danger">slot error</span>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
                <textarea th:field="*{description}" th:errorclass="bg-danger"></textarea>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                      class="alert alert-danger">description error</span>
            </td>
        </tr>
        <tr>
            <td>Prime item?</td>
            <td>
                <input type="checkbox" th:field="*{prime}" th:errorclass="bg-danger"/>
                <span th:if="${#fields.hasErrors('prime')}" th:errors="*{prime}"
                      class="alert alert-danger">prime error</span>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Components:</h2>

    <div class="container">
        <div class="row">



        </div>
    </div>

    <br/><br/>
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-2"></th>
            <th class="col-md-9"></th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Item 1:</td>
            <td>
                <select th:field="*{component1}">
                    <optgroup label="First">
                        <option th:each="item : ${allItems}"
                                th:value="${item.id}"
                                th:text="${item.name}">Wireframe</option>
                    </optgroup>
                    <optgroup label="Second">
                        <option th:value="3">3</option>
                        <option th:value="4">4</option>
                    </optgroup>
                </select>
            </td>
            <td>quantity: </td>
        </tr>

        </tbody>
    </table>


    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<!--RESOURCE FORM-->
<form action="#" th:action="@{/items/resources/new}" th:object="${resource}" method="post" th:fragment="resourceFormFragment">
    <h2>New resource</h2>

    <table class="table">
        <thead>
        <tr>
            <th class="col-md-2"></th>
            <th class="col-md-10"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" th:field="*{name}" th:errorclass="bg-danger"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                      class="alert alert-danger">Name error</span>
            </td>
        </tr>
        <tr>
            <td>Code:</td>
            <td>
                <input type="text" th:field="*{code}" th:errorclass="bg-danger"/>
                <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
                      class="alert alert-danger">Name error</span>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

</body>
</html>