<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_fragments :: headFragment">
    <title id="pageTitle">Add</title>
</head>
<body>

<div th:replace="_fragments :: navigationFragment">Loading navigation...</div>

<div class="container">
    <div>
        <!--<div th:replace="_fragments :: equipmentFormFragment"></div>-->
    </div>
</div>

<h2>New equipment</h2>
<form action="#" th:action="@{/items/equipment/new}" th:object="${equipment}" method="post" th:fragment="equipmentFormFragment">
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-2"></th>
            <th class="col-md-10"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" th:field="*{name}" th:errorclass="bg-danger"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                      class="alert alert-danger">Name error</span>
            </td>
        </tr>
        <tr>
            <td>Unique identifier:</td>
            <td>
                <input type="text" th:field="*{code}" th:errorclass="bg-danger"/>
                <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
                      class="alert alert-danger">code error</span>
            </td>
        </tr>
        <tr>
            <td>Slot:</td>
            <td>
                <input type="number" th:field="*{slot}" th:errorclass="bg-danger"/>
                <span th:if="${#fields.hasErrors('slot')}" th:errors="*{slot}"
                      class="alert alert-danger">slot error</span>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
                <textarea th:field="*{description}" th:errorclass="bg-danger"></textarea>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                      class="alert alert-danger">description error</span>
            </td>
        </tr>
        <tr>
            <td>Prime item?</td>
            <td>
                <input type="checkbox" th:field="*{prime}" th:errorclass="bg-danger"/>
                <span th:if="${#fields.hasErrors('prime')}" th:errors="*{prime}"
                      class="alert alert-danger">prime error</span>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Components:</h2>
    <br/>
    <div class="container">

        <div class="col-md-6" id="dynamicFormContainerLeft">

            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Item 1</label>
                </div>
                <div class="col-md-4">
                    <select id="js-example-basic-single" name="res1" class="form-control">
                        <option th:each="res : ${allResources}"
                                th:value="${res.code}"
                                th:text="${res.name}">Wireframe</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default" onclick="addLeftTableRow()"><i class="fa fa-plus"></i></button>
                </div>
                <div class="col-md-5">
                    <p>q:</p>
                </div>
            </div>

        </div>

        <div class="col-md-6" id="dynamicFormContainerRight">
            <table class="table">
                table 2
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-offset-1">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
    <br/><br/><br/><br/>
</form>

<footer th:include="_fragments :: footerFragment">

</footer>

</body>
</html>