<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_fragments :: headFragment">
    <title id="pageTitle">Items</title>
</head>
<body>
<div th:replace="_fragments :: navigationFragment">Loading navigation...</div>

<div class="col-md-offset-1">
    <a href="/items/equipment/new" class="btn btn-default">Add a new entry</a>
</div>

<div class="col-md-1"></div>
<div class="col-md-10">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Code</td>
            <td>Description</td>
            <td>Slot</td>
            <td>Prime?</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${equipment.empty}">
            <td colspan="6">No items</td>
        </tr>
        <tr th:each="equipment : ${equipment}">
            <td th:text="${equipment.id}">1</td>
            <td><a href="#" th:href="@{'/items/' + ${equipment.id}}" th:text="${equipment.name}">Name ...</a></td>
            <td th:text="${equipment.code}">Code ...</td>
            <td th:text="${equipment.description}">desc</td>
            <td th:text="${equipment.slot}">slot</td>
            <td th:if="${equipment.prime}" th:text="Yes"></td>
            <td th:unless="${equipment.prime}" th:text="No"></td>
            <!--<td th:text="${#calendars.format(task.dueTo)}">July 11, 2012 2:17:16 PM CDT</td>-->
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>