<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_fragments :: headFragment">
    <title id="pageTitle">Items</title>
</head>
<body>
<div th:replace="_fragments :: navigationFragment">Loading navigation...</div>

<div class="col-md-1"></div>
<div class="col-md-10">

    <div th:text="${item.name}">Item name</div>

    <div>
        <p>Component resources:</p>
        <ul>
            <li th:each="res : ${item.componentsResources}"
                th:text="${res.id} + ' ' + ${res.name} + ' ' + ${res.code}"></li>
        </ul>
    </div>

</div>

</body>
</html>