<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_fragments :: headFragment">
    <title id="pageTitle">Home</title>
</head>
<body>
<div th:replace="_fragments :: navigationFragment">Loading navigation...</div>

<p th:text="'Hello, world!'"></p>

</body>
</html>