<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_fragments :: headFragment">
    <title id="pageTitle">Resources</title>
</head>
<body>
<div th:replace="_fragments :: navigationFragment">Loading navigation...</div>

<div class="col-md-offset-1">
    <a href="/items/resources/new" class="btn btn-default">Add a new entry</a>
</div>

<div class="col-md-1"></div>
<div class="col-md-10">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Code</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${resources.empty}">
            <td colspan="3">No resources</td>
        </tr>
        <tr th:each="resource : ${resources}">
            <td th:text="${resource.id}">1</td>
            <td><a href="#" th:href="@{'/items/resources/' + ${resource.id}}" th:text="${resource.name}">Name ...</a></td>
            <td th:text="${resource.code}">Code ...</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>